language: java

sudo: false

cache:
  directories:
    - "$HOME/.m2"

jdk:
  - openjdk8

install: true

script:
  - mvn -U -s .travis-maven-settings.xml clean package -B -V

before_install:
  - sudo apt-get install -y etcd
